{% capture accessDenied %}
	<p style="margin-left:40%; color:red">Sorry, You are not allowed to access this page</p>
{% endcapture %}
{% assign elementsString = '*[itemprop=price],*[class~="price"],*[class~="Price"],*[id|="productPrice"],*[class*="__price"],*[class*="__Price"],*[class*="--price"],*[class*="--Price"],*[class="money"],*[class~="product-price"],*[id~="product-price"],*[class~="cart__item-total"],*[class~="cart__subtotal"], *[class~=cart__price-wrapper]' %}

{% capture loginPage %}
{% if customer %}
{{ accessDenied }}
{% else %}
<script>
      	let checkout_url = window.location.href.replace( '{{ shop.url | append:"/" }}' , '/');
        let redirect_url = window.location.href;
        if(redirect_url.includes("?")) redirect_url = '{{ shop.url }}/account/login' + "?checkout_url=" + encodeURIComponent(checkout_url);
        else redirect_url = '{{ shop.url }}/account/login' + "?checkout_url=" + encodeURIComponent(checkout_url);
        window.location.href = redirect_url;
</script>
{% endif %}
{% endcapture %}<script>
function getCookie(cookieName) {
    let cookie = {};
    document.cookie.split(";").forEach(function(el) {
      let [key,value] = el.split("=");
      cookie[key.trim()] = value;
    })
    return cookie[cookieName];
}
function setCookie(name,value,days) {
  var expires = "";
  if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days*24*60*60*1000));
      expires = "; expires=" + date.toUTCString();
  }
  document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}
function eraseCookie(name) {   
    document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
}
</script>

<!-- miniOrange LOCK START _2996 --><!-- miniOrange LOCK END _2996 -->
<!-- miniOrange LOCK START _3228 -->
{% capture _3228 %}
{{ content_for_layout }}
<script>
  function _3228passcodeLock() {
    document.getElementById("innerForm").style.opacity = "0.4";
    document.getElementById("innerForm").style.pointerEvents = "none";    
    let userValue = document.getElementById("pwd").value;
    let api = '/apps/contentrestriction/test?lockId=3228&lock='+ userValue;
    fetch(api)
    .then((response) => {
        return response.text();
      })
    .then((data) => {
      var json = JSON.parse(data);     
      if( json.value == true ){
        setCookie("3228", json.token, 1);
        window.location.href = window.location.href;
      }else {
        document.getElementById("innerForm").style.opacity = "1";
        document.getElementById("innerForm").style.pointerEvents = "auto"; 
        document.getElementById("invalidPasscode").style.display = "";
      }
    })
    .catch((error) => console.log(error.data));
  }
</script>

{% capture test %}
<div class="container" id="passcode">
  <div id="passcodeform" style="margin:2%; text-align:center">
  <div></div>
  <div id="innerForm" style="margin:auto; width:30%; border: 3px solid black; text-align:center">
    	<h3>Enter Passcode</h3>
        <div class="form-group">
            <label for="pwd">Passcode:</label>
            <input type="text" class="form-control" id="pwd" style="display:inline-block">
            <span style="color:red; display:none" id="invalidPasscode">Invalid Password<br></span>
        </div>
		<button type="submit" style="padding:5px 10px 5px 10px; border-radius:3px; color:white; background:black; margin: 13px 10px 0px 0px" onclick="_3228passcodeLock()">Submit</button>
  	</div>
  </div>
</div>{% endcapture %}

<script>
  if(typeof getCookie("3228") !== 'undefined'){
    let api = '/apps/contentrestriction/test?lockId=3228&token=' + getCookie("3228");
    fetch(api)
    .then((response) => {
      return response.text();
    })
    .then((data) => {
      var json = JSON.parse(data);
      if( json.value == true ){
        setCookie("3228", json.token, 365);
      }else {
        eraseCookie("3228");
        {% assign change =  test | replace: "script", "scripttobereplaced" %}
        let text = `{{ change }}`; 
        document.querySelector("main").innerHTML = text.replace(/scripttobereplaced/gi, "script");
      }
    })
    .catch((error) => console.log(error.data));
  }else{
    {% assign change =  test | replace: "script", "scripttobereplaced" %}
    let text = `{{ change }}`; 
    document.querySelector("main").innerHTML = text.replace(/scripttobereplaced/gi, "script");
  }
</script>
{% endcapture %}<!-- miniOrange LOCK END _3228 -->