{%- comment -%}
  "enable_slider" is used for "text-slide" blocks with "Optional image" added and make the entire Image & text block a single slide.
  "enable_text_slider" is used for "text-slide" blocks without "Optional image" added. Then we only create a slider for the text blocks and the images are static.


{%- endcomment -%}

{%- liquid
  assign desktop_height = section.settings.height
  assign mobile_height = section.settings.mobile_height
  assign width = section.settings.width
  assign enable_slider = false
  assign enable_text_slider = false
  assign text_slide_blocks = section.blocks | where: "type", "text-slide"

  assign animation_anchor = '#BrickSection--' | append: section.id
  assign animation_order = 0
  assign accordion_blocks = section.blocks | where: "type", "accordion"
  assign bg_color = section.settings.bg_color
  assign text_color = section.settings.color

  if text_slide_blocks.size > 1
    assign enable_text_slider = true

    for block in section.blocks
      if block.settings.image
        assign enable_slider = true
        assign enable_text_slider = false

        break
      endif
    endfor
  endif

  capture style
    echo '--PT: ' | append: section.settings.padding_top | append: 'px;'
    echo '--PB: ' | append: section.settings.padding_bottom | append: 'px;'

    unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank
      echo '--bg: ' | append: bg_color | append: ';'
    endunless

    unless text_color == 'rgba(0,0,0,0)' or text_color == blank
      assign text_light = text_color | color_mix: settings.bg_color, 70
      assign text_dark = text_color | color_saturate: 10 | color_darken: 15
      echo '--text: ' | append: text_color | append: ';'
      echo '--text-light: ' | append: text_light | append: ';'
      echo '--text-dark: ' | append: text_dark | append: ';'
    endunless
  endcapture

  assign image_1 = section.settings.image_1
  assign image_2 = section.settings.image_2
  assign image_width = section.settings.image_width
  capture sizes
    if image_1 and image_2
      if image_width == 'three-quarters'
        echo '(min-width: 750px) 37.5vw, 100vw'
      else
        echo '(min-width: 750px) 25vw, 100vw'
      endif
    else
      if image_width == 'three-quarters'
        echo '(min-width: 750px) 75vw, 100vw'
      else
        echo '(min-width: 750px) 50vw, 100vw'
      endif
    endif
  endcapture

  assign figure_width_class = ''
  if image_width == 'three-quarters'
    assign figure_width_class = ' brick__block--three-quarters'
  endif

  capture alignment
    if section.settings.text_alignment == 'text-left'
      echo ' align--middle-left'
    else
      echo ' align--middle-center'
    endif
  endcapture
-%}

{%- capture section_images -%}
  {%- if image_1 != blank -%}
    <div class="brick__block__image wide-image"
      {% unless enable_slider %}
        data-slide="1"
        data-slide-index="1"
      {% endunless %}
    >
      {%- render 'image-hero' image: image_1, sizes: sizes, desktop_height: desktop_height, mobile_height: mobile_height -%}
    </div>
  {%- endif -%}

  {%- if image_2 != blank -%}
    <div class="brick__block__image wide-image"
      {% unless enable_slider %}
        data-slide="2"
        data-slide-index="2"
      {% endunless %}
    >
      {%- render 'image-hero' image: image_2, sizes: sizes, desktop_height: desktop_height, mobile_height: mobile_height -%}
    </div>
  {%- endif -%}

  {%- if image_1 == blank and image_2 == blank -%}
    <div class="brick__block__image wide-image">
      {%- render 'image-hero' sizes: sizes, desktop_height: desktop_height, mobile_height: mobile_height -%}
    </div>
  {%- endif -%}
{%- endcapture -%}

<section id="BrickSection--{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="double"
  class="index-image-text section-padding {{ section.settings.text_alignment }}"
  style="{{ style }}">
  {%- if section.blocks.size > 0 -%}
    {%- if enable_slider -%}
      <div
        class="brick__slider"
        data-slider
        data-dots="{{ settings.dots_style }}"
        data-options='{"pageDots": true, "prevNextButtons": true, "autoPlay": 4000, "pauseAutoPlayOnHover": false}'
      >
        {%- for block in section.blocks -%}
          {%- liquid
            assign image = block.settings.image
            assign subheading = block.settings.subheading
            assign title = block.settings.title
            assign text = block.settings.text
            assign button_text = block.settings.button_text
          -%}

          <div
            class="brick__section{% if section.settings.layout == 'is-reversed' %} brick__section--reversed{% endif %}{% if section.settings.reverse_blocks %} brick__section--reversed-mobile{% endif %} {{ width }} {{ desktop_height }} {{ mobile_height }}"
            data-slide
            {{ block.shopify_attributes }}
          >
            <div class="brick__block brick__block--images{{ figure_width_class }}">
              {%- if image -%}
                <div class="brick__block__image wide-image">
                  {%- render 'image-hero' image: image, sizes: sizes, desktop_height: desktop_height, mobile_height: mobile_height -%}
                </div>
              {%- else -%}
                {{ section_images }}
              {%- endif -%}
            </div>

            <div class="brick__block brick__block--text"{% if style != blank %} style="{{ style }}"{% endif %}>
              <div class="brick__block__text">
                <div class="hero__content hero__content--compact">
                  {%- if subheading != blank -%}
                    {%- assign font_size_class = block.settings.subheading_size | prepend: 'subheading-size-' -%}
                    <p class="hero__subheading {{ font_size_class }}">
                      {{ subheading }}
                    </p>
                  {%- endif -%}

                  {%- if title != blank -%}
                    {%- assign font_size_class = block.settings.heading_size | prepend: 'heading-size-' -%}
                    <h2 class="hero__title {{ font_size_class }}">
                      {{ title }}
                    </h2>
                  {%- endif -%}

                  {%- if text != blank -%}
                    {%- assign font_size_class = block.settings.text_size | prepend: 'body-size-' -%}
                    <div class="hero__rte {{ font_size_class }} {{ block.settings.text_style }}">
                      {{ text }}
                    </div>
                  {%- endif -%}

                  {%- if button_text != blank -%}
                    {%- liquid
                      assign button_style = block.settings.button_style
                      if button_style == 'btn--text' and block.settings.show_arrow
                        assign button_style = button_style | append: ' btn--text-no-underline'
                      endif
                    -%}

                    <div class="hero__button">
                      <a href="{{ block.settings.button_url | default: '#!' }}" class="btn {{ button_style }} {{ block.settings.button_size }} {{ block.settings.button_type }}">
                        <span>{{ button_text }}</span>

                        {%- if block.settings.show_arrow -%}
                          {%- render 'icon-arrow-right' -%}
                        {%- endif -%}
                      </a>
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    {%- else -%}
      <div class="brick__section{% if section.settings.layout == 'is-reversed' %} brick__section--reversed{% endif %}{% if section.settings.reverse_blocks %} brick__section--reversed-mobile{% endif %}{% if accordion_blocks.size > 0 %} brick__section--accordion{% endif %} {{ width }} {{ desktop_height }} {{ mobile_height }}">
        <div class="brick__block {{ figure_width_class }} brick__block--images"
          {% if image_1 != blank and image_2 != blank %}
            data-slider
            data-slider-fullwidth
            data-dots="{{ settings.dots_style }}"
            data-options='{"watchCSS": true, "pageDots": false, "prevNextButtons": false, "autoPlay": 4000, "pauseAutoPlayOnHover": false}'
          {% endif %}>

          {{ section_images }}
        </div>

        <div class="brick__block brick__block--text{% if enable_slider %} brick__block--slider{% endif %}"
          {% if style != blank %}
            style="{{ style }}"
          {% endif %}
          {{ block.shopify_attributes }}>
          <div class="brick__block__text">
            <div class="hero__content hero__content--compact{% if enable_text_slider %} grid--mobile-slider{% endif %}"
              {% if enable_text_slider %}
                data-slider="BrickSlider--{{ section.id }}"
                data-slider-desktop
                data-dots="{{ settings.dots_style }}"
                data-options='{"watchCSS": true, "wrapAround": true, "pageDots": true, "prevNextButtons": false, "autoPlay": 4000, "pauseAutoPlayOnHover": false }'
              {% endif %}>

              {%- if accordion_blocks.size > 0 -%}
                <collapsible-elements single="true">
              {%- endif -%}

              {%- for block in section.blocks -%}
                {%- if enable_text_slider -%}
                  <div
                    class="hero__slide grid-item"
                    data-slide="{{ block.id }}"
                    data-slide-index="{{ forloop.index0 }}"
                    {{ block.shopify_attributes }}
                  >
                {%- endif -%}

                {%- case block.type -%}

                  {%- when 'text-slide' -%}
                    {%- if block.settings.subheading != blank -%}
                      {%- assign font_size_class = block.settings.subheading_size | prepend: 'subheading-size-' -%}

                      <p class="hero__subheading {{ font_size_class }}">
                        {{ block.settings.subheading }}
                      </p>
                    {%- endif -%}

                    {%- if block.settings.title != blank -%}
                      {%- assign font_size_class = block.settings.heading_size | prepend: 'heading-size-' -%}

                      <h2 class="hero__title {{ font_size_class }}">
                        {{ block.settings.title }}
                      </h2>
                    {%- endif -%}

                    {%- if block.settings.text != blank -%}
                      {%- assign font_size_class = block.settings.text_size | prepend: 'body-size-' -%}

                      <div class="hero__rte {{ font_size_class }} {{ block.settings.text_style }}">
                        {{ block.settings.text }}
                      </div>
                    {%- endif -%}

                    {%- if block.settings.button_text != blank -%}
                      {%- liquid
                        assign button_style = block.settings.button_style
                        if button_style == 'btn--text' and block.settings.show_arrow
                          assign button_style = button_style | append: ' btn--text-no-underline'
                        endif
                      -%}

                      <div class="hero__button">
                        <a href="{{ block.settings.button_url | default: '#!' }}" class="btn {{ button_style }} {{ block.settings.button_size }} {{ block.settings.button_type }}">
                          <span>{{ block.settings.button_text }}</span>

                          {%- if block.settings.show_arrow -%}
                            {%- render 'icon-arrow-right' -%}
                          {%- endif -%}
                        </a>
                      </div>
                    {%- endif -%}

                  {%- when 'heading' -%}
                    {%- if block.settings.title != blank -%}
                      {%- assign animation_order = animation_order | plus: 1 -%}
                      {%- assign font_size_class = block.settings.text_size | prepend: 'heading-size-' -%}
                      <h2 class="hero__title {{ font_size_class }}"
                        data-aos="hero"
                        data-aos-anchor="{{ animation_anchor }}"
                        data-aos-order="{{ animation_order }}"
                        {{ block.shopify_attributes }}>
                        {{ block.settings.title }}
                      </h2>
                    {%- endif -%}

                  {%- when 'subheading' -%}
                    {%- if block.settings.subheading != blank -%}
                      {%- assign animation_order = animation_order | plus: 1 -%}
                      {%- assign font_size_class = block.settings.text_size | prepend: 'subheading-size-' -%}
                      <p class="hero__subheading {{ font_size_class }}"
                        data-aos="hero"
                        data-aos-anchor="{{ animation_anchor }}"
                        data-aos-order="{{ animation_order }}"
                        {{ block.shopify_attributes }}>
                        {{ block.settings.subheading }}
                      </p>
                    {%- endif -%}

                  {%- when 'text' -%}
                    {%- if block.settings.text != blank -%}
                      {%- assign animation_order = animation_order | plus: 1 -%}
                      {%- assign font_size_class = block.settings.text_size | prepend: 'body-size-' -%}
                      <div class="hero__rte {{ font_size_class }} {{ block.settings.text_style }}"
                        data-aos="hero"
                        data-aos-anchor="{{ animation_anchor }}"
                        data-aos-order="{{ animation_order }}"
                        {{ block.shopify_attributes }}>
                        {{ block.settings.text }}
                      </div>
                    {%- endif -%}

                  {%- when 'buttons' -%}
                    {%- if block.settings.button_text != blank -%}
                      {%- liquid
                        assign prev_index = forloop.index0 | minus: 1
                        assign next_index = forloop.index0 | plus: 1
                        assign prev_block = section.blocks[prev_index]
                        assign next_block = section.blocks[next_index]
                        assign animation_order = animation_order | plus: 1
                        assign first_button_of_group = false
                        assign last_button_of_group = false
                        if next_block.type == 'buttons' and forloop.index0 == 0 or prev_block.type != 'buttons' and next_index != section.blocks.size and next_block.type == 'buttons'
                          assign first_button_of_group = true
                        endif

                        if prev_block.type == 'buttons' and next_block.type != 'buttons' and prev_index != -1 or forloop.index == section.blocks.size and prev_block.type == 'buttons'
                          assign last_button_of_group = true
                        endif

                        assign button_style = block.settings.button_style
                        if button_style == 'btn--text' and block.settings.show_arrow
                          assign button_style = button_style | append: ' btn--text-no-underline'
                        endif
                      -%}

                      {%- if first_button_of_group -%}
                        <div class="hero__button-group">
                      {%- endif -%}

                      <div class="hero__button"
                        data-aos="hero"
                        data-aos-anchor="{{ animation_anchor }}"
                        data-aos-order="{{ animation_order }}"
                        {{ block.shopify_attributes }}>
                        <a href="{{ block.settings.button_url | default: '#!' }}" class="btn {{ button_style }} {{ block.settings.button_size }} {{ block.settings.button_type }}">
                          <span>{{ block.settings.button_text }}</span>

                          {%- if block.settings.show_arrow -%}
                            {%- render 'icon-arrow-right' -%}
                          {%- endif -%}
                        </a>
                      </div>

                    {%- if last_button_of_group -%}
                      </div>
                    {%- endif -%}
                  {%- endif -%}

                  {%- when 'divider' -%}
                    {%- assign animation_order = animation_order | plus: 1 -%}
                    {%- capture attributes -%}
                      data-aos="hero"
                      data-aos-anchor="{{ animation_anchor }}"
                      data-aos-order="{{ animation_order }}"
                    {%- endcapture -%}

                    {%- render 'divider' block: block, attributes: attributes -%}

                  {%- when 'accordion' -%}
                    {%- assign title = block.settings.title -%}
                    {%- assign content = block.settings.content -%}
                    {%- assign animation_order = animation_order | plus: 1 -%}
                    {%- if title != blank and content != blank -%}
                      <details
                        class="accordion"
                        data-collapsible
                        data-aos="hero"
                        data-aos-anchor="{{ animation_anchor }}"
                        data-aos-order="{{ animation_order }}"
                        {{ block.shopify_attributes }}>
                        <summary class="accordion__title" data-collapsible-trigger>
                          {%- if block.settings.show_icon -%}
                            {%- liquid
                              assign icon_size = block.settings.icon_size
                              assign icon_color = block.settings.icon_color
                              assign icon_image = block.settings.icon_image
                              capture icon_style
                                echo 'style="'
                                echo '--icon-size: ' | append: icon_size | append: 'px;'
                                if icon_color != blank and icon_color != 'rgba(0,0,0,0)'
                                  echo ' --text: ' | append: icon_color | append: ';'
                                endif
                                echo '"'
                              endcapture
                            -%}

                            <div class="icon__animated icon__animated--{{ block.id }}{% if icon_image != blank %} icon__animated--image{% endif %}" {{ icon_style }}>
                              {%- liquid
                                if icon_image
                                  assign icon_width = icon_size
                                  assign icon_width_retina = icon_width | times: 2
                                  assign icon_sizes = icon_width | append: 'px'
                                  assign icon_widths = icon_width | append: ', ' | append: icon_width_retina

                                  render 'image' image: icon_image, width: icon_width_retina, sizes: icon_sizes, widths: icon_widths
                                else
                                  render 'animated-icon', filename: block.settings.icon_name
                                endif
                              -%}
                            </div>
                          {%- endif -%}

                          {{ title }}

                          {%- render 'icon-plus' -%}
                          {%- render 'icon-minus' -%}
                        </summary>

                        <div class="accordion__body rte" data-collapsible-body>
                          <div class="accordion__content" data-collapsible-content>
                            {{ content }}
                          </div>
                        </div>
                      </details>
                    {%- endif -%}

                    {%- when 'image' -%}
                      {%- liquid
                        assign animation_order = animation_order | plus: 1
                        assign image_width_percent = block.settings.image_width
                        assign image_width_ratio = image_width_percent | times: 0.01

                        capture style
                          echo 'width: ' | append: image_width_percent | append: '%'
                        endcapture

                        capture sizes
                          assign image_size_mobile = 'calc((100vw - 64px) * ' | append: image_width_ratio | append: ')'

                          if image_width == 'three-quarters'
                            assign image_size_desktop = 'calc((35vw * 0.76 - 64px) * ' | append: image_width_ratio | append: ')'
                          else
                            assign image_size_desktop = 'calc((50vw * 0.76 - 64px) * ' | append: image_width_ratio | append: ')'
                          endif

                          echo '(min-width: 750px) ' | append: image_size_desktop | append: ', ' | append: image_size_mobile
                        endcapture
                      -%}

                      {%- capture attributes -%}
                        data-aos="hero"
                        data-aos-anchor="{{ animation_anchor }}"
                        data-aos-order="{{ animation_order }}"
                      {%- endcapture -%}

                      <div class="hero__media" {{ block.shopify_attributes }} style="{{ style }}">
                        {%- render 'image' image: block.settings.image, sizes: sizes, attributes: attributes -%}
                      </div>

                    {%- when 'video' -%}
                      {%- liquid
                        assign video = block.settings.video
                        assign animation_order = animation_order | plus: 1

                        capture style
                          echo 'width: ' | append: block.settings.video_width | append: '%'
                        endcapture
                      -%}

                      {%- capture attributes -%}
                        data-aos="hero"
                        data-aos-anchor="{{ animation_anchor }}"
                        data-aos-order="{{ animation_order }}"
                      {%- endcapture -%}

                      <div class="hero__media" {{ block.shopify_attributes }} style="{{ style }}">
                        <div class="video-background" {{ attributes }} style="--aspect-ratio: {{ video.aspect_ratio }};">
                          {%- if video != nil -%}
                            <video-background class="video__player" data-video-player data-video-id="{{ section.id }}-video-background">
                              <template data-video-template>
                                {{ video | video_tag: image_size: '1x1', autoplay: true, loop: true, muted: true, controls: false }}
                              </template>
                            </video-background>
                          {%- else -%}
                            {%- render 'image' placeholder: 'lifestyle-1', attributes: attributes -%}
                          {%- endif -%}
                        </div>
                      </div>

                {%- endcase -%}

                {%- if enable_text_slider -%}
                  </div>
                {%- endif -%}
              {%- endfor -%}

              {%- if accordion_blocks.size > 0 -%}
                </collapsible-elements>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    {%- endif -%}
  {%- else -%}
    {%- render 'no-blocks' -%}
  {%- endif -%}
</section>