<!-- /sections/section-product.liquid -->
{%- liquid
  assign product = all_products[section.settings.product]
  assign unique = section.id
  assign bg_color = section.settings.bg_color
  assign limit = section.settings.limit
  assign featured_image = section.settings.image
  assign product_images = product.media | where: 'media_type', 'image'
  assign product_images_count = product_images.size | at_most: limit
  assign offset = 1
  if product_images_count < 2
    assign offset = 0
  endif

  if product == blank
    assign product_images_count = limit
  endif

  capture grid_item_sizes
    echo '(min-width: 750px) 25vw, calc(100vw - 32px)'
  endcapture

  capture product_images_sizes
    echo '(min-width: 990px) calc(50vw - 200px), (min-width: 750px) calc(50vw - 100px), calc(100vw - 100px)'
  endcapture
-%}

{%- style -%}
  #Product--{{ section.id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;

    {%- unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank -%}
      --bg: {{ bg_color }};
    {%- endunless -%}
  }

  {%- if request.visual_preview_mode -%}
    .featured-product__body { min-height: initial; }
    .featured-product__content { margin: auto; }
    .featured-product__image:not(:first-child) { display: none; }
  {%- endif -%}
{%- endstyle -%}

<div id="Product--{{ unique }}"
  class="featured-product featured-product--{{ section.settings.scrolling_styles }} section-padding{% if section.settings.horizontal_scroll %} featured-product--full-width{% endif %} {{ section.settings.layout }}"
  {% if section.settings.scrolling_styles == 'horizontal' %}data-horizontal-scroll{% endif %}
  {% if section.settings.scrolling_styles == 'horizontal' and section.settings.layout == 'is-reversed' %}data-horizontal-scroll-reversed{% endif %}
  data-section-id="{{ unique }}"
  data-section-type="featured-product">
  <div class="featured-product__body" data-featured-wrapper>
    <div class="featured-product__content" data-featured-content>
      <div class="featured-product__card">
        {%- if product != blank -%}
          {%- render 'product-grid-item', product: product, index: forloop.index, sizes: grid_item_sizes -%}
        {%- else -%}
          {%- render 'onboarding-product-grid-item', index: forloop.index -%}
        {%- endif -%}
      </div>
    </div>

    <div class="featured-product__aside{% if featured_image != blank %} featured-product__aside--bg{% endif %}"
      {% if product_images_count > 1 %}
        style="--images-count: {{ product_images_count }};"
      {% endif %}
      data-featured-aside>
      {%- if featured_image != blank -%}
        <div class="featured-product__bg">
          {%- render 'image' image: featured_image, widths: '365, 550, 730, 1100, 1460, 1640, 1920, 2200', sizes: '(min-width: 750px) 50vw, 100vw', cover: true -%}
        </div>
      {%- endif -%}

      <div class="featured-product__inner">
        <div class="featured-product__images" data-featured-images>
          {%- if product != blank -%}
            {%- for image in product_images offset: offset limit: limit -%}
              <div class="featured-product__image" data-featured-image>
                {%- render 'image' image: image, sizes: product_images_sizes -%}
              </div>
            {%- endfor -%}
          {%- else -%}
            {%- for index in (1..limit) -%}
              <div class="featured-product__image" data-featured-image>
                {%- assign placeholder = 'product-' | append: index -%}
                {%- render 'image' placeholder: placeholder -%}
              </div>
            {%- endfor -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Featured product",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "",
        "options": [
          {"value": "","label": "Product left, image right"},
          {"value": "is-reversed","label": "Image left, product right"}
        ]
      },
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      },
      {
        "type": "range",
        "id": "limit",
        "label": "Images limit",
        "min": 1,
        "max": 6,
        "step": 1,
        "default": 5
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      },
      {
        "type": "header",
        "content": "Desktop"
      },
      {
        "type": "select",
        "id": "scrolling_styles",
        "label": "Scrolling styles",
        "options": [
          {
            "value": "vertical",
            "label": "Vertical"
          },
          {
            "value": "horizontal",
            "label": "Horizontal"
          }
        ],
        "default": "vertical"
      },
      {
        "type": "header",
        "content": "Horizontal"
      },
      {
        "type": "checkbox",
        "id": "horizontal_scroll",
        "label": "Full-width scroll",
        "default": false,
        "info": "Only applies if no background image is used"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "id": "bg_color",
        "type": "color",
        "label": "Background"
      },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom",
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "Featured product",
        "category": "Collection"
      }
    ],
    "disabled_on": {
      "groups": ["header", "aside", "custom.pre_footer", "footer"]
    }
  }
{% endschema %}
